<ion-app>

  <!-- Menü-Navigation nach https://remotestack.io/how-to-create-sidebar-navigation-in-ionic-angular-app/ -->

  <ion-menu side="start" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Plugin-Demo</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/home"   routerDirection="forward" (click)="menuSchliessen()" >Über die App</ion-item>
        <ion-item routerLink="/seite2" routerDirection="forward" (click)="menuSchliessen()" >Batteriestatus</ion-item>
        <ion-item routerLink="/seite3" routerDirection="forward" (click)="menuSchliessen()" >Netzwerkstatus</ion-item>
        <ion-item routerLink="/seite4" routerDirection="forward" (click)="menuSchliessen()" >Adressbuch</ion-item>
        <ion-item routerLink="/seite5" routerDirection="forward" (click)="menuSchliessen()" >Foto</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"><!-- Wert von Attribut "id" muss wie von "contentID" von ion-menu sein -->
  </ion-router-outlet>

</ion-app>