<ion-app>

  <ion-menu side="start" menuId="first">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Plugin-Demo</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/home"   routerDirection="forward" (click)="menuSchliessen()" >Übersicht</ion-item>
        <ion-item routerLink="/seite2" routerDirection="forward" (click)="menuSchliessen()" >Seite 2</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet main><!-- Attribut "main" ist wichtig, siehe https://www.damirscorner.com/blog/posts/20190906-MakingAMenuWorkInIonic4.html -->
  </ion-router-outlet>
</ion-app>