<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Batteriestatus</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button><!-- autoHide="false" laut https://remotestack.io/how-to-create-sidebar-navigation-in-ionic-angular-app/-->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-list>

    <ion-item>
      <ion-label>Batteriestatus:</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>{{ batterieStatus }}</ion-label>
    </ion-item>

  </ion-list>
  

  <ion-button expand="block"
              (click)="onButtonAktualisieren()"
              color="primary">Aktualisieren</ion-button>
  &nbsp;

  <ion-button expand="block"
              (click)="onButtonInZwischenablageKopieren()"
              color="secondary">In Zwischenablage kopieren</ion-button>
  &nbsp;

</ion-content>
