<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Über diese App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-text color="primary">
    <h3>Diese Ionic-App verwendet Angular und Capacitor
        und demonstriert verschiedene Plugins zum Zugriff
        auf native Funktionen des Smartphones.
    </h3>
  </ion-text>

  <br>

  <p>Es werden drei Typen von Plugins verwendet:</p>
  <ul>
    <li>Offizielle Capacitor-Plugins für Abfrage Batterie- und Netzwerkstatus sowie Zugriff auf Zwischenablage</li>
    <li>Community-Plugins für Capacitor zum Auslesen Adressbuch</li>
    <li>Cordova-Plugins für Verwendung Kamera</li>
  </ul>

</ion-content>
